.news-card {
   .thumb{
    overflow: hidden;
   } 
   .content{
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border: 1px solid #32323D;
    border-top: 0px;
    .blog__meta {
        margin-bottom: 7px;
        li{
            color: #a7a7a7;
    font-size: 14px;
    text-transform: uppercase;
    span{
        color: #C7A17A; 
    }
        }
    } 
      .blog__title {
        text-transform: capitalize;
    color: #ffffff;
    font-size: 22px;
      } 
      .read-more{
        color: #a7a7a7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    margin-top: 20px;
      }
   }
}