#Our_history {
  .container {
    .row {
        .our_history_left {
            background-color: #13131a;
          .our_history_left_box{
            color: white;
            padding-top: 60px;
            padding-left: 50px;
            padding-right: 50px;
            .p_our{
              background-color: #C7A17A;
              border-radius: 10%;
              padding: 5px 10px;
          }
          h2{
            padding-top: 30px;
            font-size: 50px;
          }
          p{
            padding-top: 30px;
            opacity: 65%;
          }
            }
        }
        .col-xl-6 {
          padding-right: 0px !important;
          padding-left: 0px !important;
          img{width: 100%;
            height: 100%;
          }
      }
    }
  }
}
