
// coffee-machine section start 
#coffee-machine{
    padding: 60px 0;
    background-color: #010103;
    .machine-content{
        margin-bottom: 40px ;
        .about{
            .heading{
             .title{
                color: #ffffff;
                font-size: 55px;
                line-height: 57px;
                text-transform: uppercase;
                margin-bottom: 25px;
             }
             p{
                color: #a7a7a7;
                margin-bottom: 0;
                font-size: 18px;
                letter-spacing: 1px;
            }
             }
            }
             .btn-m{
margin-top: 45px;
a{
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    background: #C7A17A;
    padding: 9.5px 34px;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: inline-block;
    border: 1px solid #C7A17A;
    font-weight: 500;
}
            }
            }
           .machine-img {
            margin-bottom: 40px ;
            .big-product-wrapper{
                margin-left: 16.6%;
                .img2{
                    position: relative;
                    max-width: 260px;
.ph-wrapper{
                    .product-highlite1, .product-highlite2{
                        width: 30px;
                        height: 30px;
                        font-size: 16px;
                        color: #000;
                        background: #ffffff;
                        border-radius: 50%;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        position: absolute;
                    }
                    .product-highlite1{
                        bottom: 0;
                    }
                    .product-highlite2{
                        top: 0;
                      right: 20px;
                    }
                }
                }
                
            }
           }
        }
// coffee-machine section end

// our news section start 
#our-news{
    padding-bottom: 120px;
    background-image: url("https://xpressrow.com/html/cafena/cafena/assets/images/bg/footer-3-1.jpeg");
background-repeat: no-repeat;
background-size: cover;
    .mb-60{
    margin-bottom: 60px;
    .sub-title{
        color: #ffffff;
    background: #C7A17A;
    font-family: "Jost", sans-serif;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 1.5px 13px;
    letter-spacing: 2px;
    border-radius: 3px;
    line-height: 22px;
    margin-bottom: 23px;
    }
    .title{
        color: #ffffff;
    font-size: 55px;
    line-height: 57px;
    text-transform: uppercase;
    }
}
}
// our news section end