#header {
  .header-content {
    color: #fff;
    .nav-item {
      font-size: 15px;
      padding: 35px 19px !important;
    }
    // #left-side_nav {

    //     display: flex;
    //     justify-content: center;
    //     .nav-items {
    //         display: flex;
    //         .nav-item {
    //             font-size: 15px;
    //             padding: 35px 19px;
    //         }
    //     }
    // }
    // .nav-logo {
    //     display: flex;
    //     justify-content: center;
    // }
    // #right-side-nav {
    //     display: flex;
    //     justify-content: center;
    //     .nav-items {
    //         display: flex;
    //         .nav-item {
    //             font-size: 15px;
    //             padding: 35px 19px;
    //         }
    //     }
    // }
  }
}
