@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@100;300;400;500;600;700&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

a {
  font-family: 'Jost', sans-serif;
}
