.container {

  .accordion_wrapper{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 14px 40px 0px rgba(220, 220, 220, 0.3);
    border: 1px solid #E2DFDD;
    padding: 90px 120px;
    padding-top: 100px;
    margin-left: 65px;
    margin-right: 65px;
    padding-right: 200px;
    .title {
      display: flex;
      gap: 20px;
      font-size: 26px;
      font-weight: 800;
      padding: 50px;
      .itag{
          background-color: #C7A17A;
          color: white;
          transition: 300ms;
          border-radius: 8px;
          font-size: 28px;
      }
      &.active {
        transition: 500ms;
        .itag{
          transform: rotate(180deg);
          transition: 300ms;
        }
      }
    }
    .content {
      overflow: hidden;
      transition: 500ms;
      font-size: 26px;
      opacity: 85%;
      height: 0;
      &.active {
        height: 170px;
        background-color: aqua;
      //   transform: rotate(360deg);
        .itag{
          transform: rotate(180deg);
      }
      }
    }
  }
}
