.feature_item{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    position: relative;
    background-position: center;
    top: 0;
    bottom: 0;
    padding-bottom: 25px;

    .feature_item_shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        img {

            height: 100%;
            width: 100%;
        }

    }
    .feature_item_big_box{
        position: relative;
        top: 0;
        left: 0;
        color: white;
        z-index: 2;
        .feature_item_box{
            padding: 20px 40px 20px 40px;
            .feature_item_p_id{
                color: #C7A17A;
            }
        }
        &::after{
        content: '';
        position: absolute;
        top: 0;
        height: 4px;
        background-color: #C7A17A;
        width: 0%;
        transition: all .3s;
        }
    }
}
.feature_item:hover {
    .feature_item_big_box{
        &::after{
        content: '';
        position: absolute;
        top: 0;
        height: 4px;
        background-color: #C7A17A;
        width: 100%;
        transition: all .3s;
        }
    }
}