.counter {
  button {
    outline: none;
    border: 1px solid #c7a17a;
    background: none;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 25px;
    border-radius: 10px;
  }
}
