.price-filter-btn {
  outline: none;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #6c6c6c;
  text-transform: uppercase;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
