.widget {
  background-color: #fff;
  border: 1px solid #e2dfdd;
  padding: 35px;
  border-radius: 10px;
  margin-bottom: 20px;
  .widget-title {
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
